/UE04/output/class.csv
/UE04/output/class_add.sh
/UE04/output/class_del.sh
/UE04/output/create_class.log

/UE04/output/create_user.log
/UE04/output/user_add.sh
/UE04/output/user.csv
/UE04/output/user.xlsx
